/*main page*/
@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

* {
  font-family: "Gugi", cursive;
}

.top-desc {
  width: 100%;
  height: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-banner {
  margin: 10px auto 10px auto;
  width: 100%;
  height: 400px;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/static/img/banner3.jpg");
  background-position: center;
  background-size: cover;

  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-brand h1 {
  display: inline-block;
}
/*end of main page*/

/*details page*/

.table > tbody > tr > th {
  text-align: center;

  height: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table > tbody > tr > td {
  vertical-align: middle;
  height: 50px;
}

.detailsh2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mycards {
  width: 95%;
  margin: 20px 20px 20px 20px;
}

.objectId {
  visibility: hidden;
}

/*end of details page*/

/*register page*/

.section {
  /* max-width: 500px; */
  height: 500px;
  /* margin: 200px auto; */
  /* border: 1px solid #ccc; */
  /* box-shadow: 0px 0px 7px 0px rgb(204, 204, 204); */
  /* padding: 0px; */
}

.container {
  /* display: inline-block; */
  vertical-align: middle;
  width: 400px;
  padding-top: 100px;
}

.button {
  margin: auto;
  width: 167px;
}
#userpw {
  margin-right: 10px;
}

.is-hidden {
  display: none !important;
}
.field span {
  color: rgb(7, 156, 32);
  font-size: 12px;
  padding-top: 10px;
}

#userid {
  margin-bottom: 5px;
  box-shadow: 0px 0px 3px 0px rgb(204, 204, 204);
}

#userpw {
  margin-top: 10px;
  box-shadow: 0px 0px 3px 0px rgb(204, 204, 204);
}

#userpw2 {
  margin-top: 10px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 3px 0px rgb(204, 204, 204);
}

#usernick {
  margin-top: 10px;
  box-shadow: 0px 0px 3px 0px rgb(204, 204, 204);
}

.is-horizontal {
  width: 340px;
}
/*end of register page*/
