@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

* {
  font-family: "Gugi", cursive;
}

/* base */
.navbar-center {
  width: 1250px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.container-fluid {
  padding: 0px;
}

.navbar-nav {
  width: 200px;
  float: right;
}

.nav-link > button:hover {
  filter: brightness(0.9);
}

.footer-block {
  width: 1250px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
}

input:hover {
  filter: brightness(0.982);
}
/*end of base*/

/*main page*/
.top-desc {
  width: 100%;
  height: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-banner {
  /* margin: 10px auto 10px auto; */
  width: 100%;
  height: 480px;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/static/img/banner3.jpg");
  background-position: center;
  background-size: cover;

  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-brand h1 {
  display: inline-block;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 30px;
}

.page-num {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.page-num b {
  margin-right: 15px;
  font-size: 17px;
}

.page-num a {
  margin-right: 15px;
  color: gray;
  text-decoration: none;
}
.page-num a:hover {
  color: rgb(66, 66, 66);
}

#card-section {
  max-width: 1250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.card-img-top:hover {
  filter: brightness(0.9);
}

#list-box .card-title {
  font-size: 18px;
}

#list-box .card-body {
  padding: 12px;
}
/*end of main page*/

/*details page*/

.table > tbody > tr > th {
  text-align: center;

  height: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table > tbody > tr > td {
  vertical-align: middle;
  height: 50px;
}

.detailsh2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mycards {
  width: 95%;
  margin: 20px 20px 20px 20px;
}

#detail-box .card-body,
#comment-list .card-body {
  display: block;
}
/*end of details page*/

/*register page*/

.section {
  /* max-width: 500px; */
  height: 600px;
  /* margin: 200px auto; */
  /* border: 1px solid #ccc; */
  /* box-shadow: 0px 0px 7px 0px rgb(204, 204, 204); */
  /* padding: 0px; */
}

.container {
  /* display: inline-block; */
  vertical-align: middle;
  width: 400px;
  padding-top: 100px;
}

.button {
  margin: auto;
  width: 167px;
}
#userpw {
  margin-right: 10px;
}

.is-hidden {
  display: none !important;
}
.field span {
  color: rgb(7, 156, 32);
  font-size: 12px;
  padding-top: 10px;
}

#userid {
  margin-bottom: 5px;
  box-shadow: 0px 0px 3px 0px rgb(204, 204, 204);
}

#userpw {
  margin-top: 10px;
  box-shadow: 0px 0px 3px 0px rgb(204, 204, 204);
}

#userpw2 {
  margin-top: 10px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 3px 0px rgb(204, 204, 204);
}

#usernick {
  margin-top: 10px;
  box-shadow: 0px 0px 3px 0px rgb(204, 204, 204);
}

.is-horizontal {
  width: 340px;
}
/*end of register page*/
